HELP.md
.gradle
build/
.env
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Preserve H2 Database ###
src/main/resources/application.properties

.env
.DS_Store

### Frontend ###
# dependencies
src/frontend/node_modules
src/frontend/.pnp
src/frontend/.pnp.js
src/.pnp.js
# testing
src/frontend/coverage
# next.js
src/frontend/.next/
src/frontend/out/
# production
src/frontend/build
# misc
src/frontend/.DS_Store
src/frontend/*.pem
src/frontend/.gitignore

# debug
src/frontend/npm-debug.log*
src/frontend/yarn-debug.log*
src/frontend/yarn-error.log*
src/frontend/.pnpm-debug.log*

# local env files
src/frontend/.env*.local

# vercel
src/frontend/.vercel

# typescript
src/frontend/*.tsbuildinfo
src/frontend/next-env.d.ts